@tailwind base;
@tailwind components;
.font-playfairBold {
  font-family: 'PlayfairDisplay_700Bold';
}
.font-alegreyaSC {
  font-family: 'AlegreyaSC_400Regular';
}
.font-alegreyaSCBold {
  font-family: 'AlegreyaSC_700Bold';
}
@tailwind utilities;